{% extends 'form_div_layout.html.twig' %}

{% block choice_widget %}
    <div class="integer_widget">
        {% set type = type|default('number') %}
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}