{% import "macros.html.twig" as mg %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    {% block css %}
    <style>
        div,p{
            text-align: justify;
            font-size: 13px;
        }

        *{
            font-family: sans-serif;
        }
    </style>
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
