<table class="piedDePage" style="color: #5e5e5e" >
    <tbody>
    <tr>
        <td width="40%">
            <span style="font-size: 13px !important;" >SOLDAT SARL</span><br>
            Société au Capital de 500 000 Dirhams<br>
            1100 Boulevard Al Qods, Shore 1<br>
            20270 Casablanca, Sidi Maarouf <br>
            Maroc
        </td>
        <td width="30%" >
            RC : {{ footer.rc }}<br>
            ICE : {{ footer.ice }}<br>
            Patente : {{ footer.patente }}<br>
            IF : 25015779<br>
            CNSS : {{ footer.cnss }}
        </td>
        <td width="30%">
            Tél : +212 5 29 04 17 41/44 <br>
            Fax : +212 5 29 04 09 01 <br>
            contact@solutiondata.ma <br>
            support@solutiondata.ma <br>
            www.solutiondata.ma
        </td>
    </tr>
    </tbody>
</table>