{% extends 'base.html.twig' %}

{% block body %}
<h1>Gestion Commerciale SolutionData - PROD</h1>
<p class="lead">Projet de réalisation d'un outil de gestion commerciale pour le suivis du cycle commercial.<br> A venir : Opportunités, Devis, Bon de commandes clients, Facturation et recouvrement</p>
<hr>
<h2 class="page-header">Work in progress</h2>
{% endblock %}
