<h3 style="text-align: center">ACTE D’ENGAGEMENT</h3>
<b style="text-decoration: underline;">A- Partie réservée à l’administration</b><br>

<p>
    Appel d’offres ouvert, sur offres des prix {{ rfp.number }} du {{ rfp.date|date('d/m/Y') }}
    à {{ rfp.date|date('H:i') }}.<br>
</p>

<p>
    <b>Objet :</b> {{ rfp.object }}
</p>

<p>
    Marché passé en application des prescriptions de l'article 7, de l'alinéa 2 paragraphe 1 de l'article 16 et
    paragraphe 1 de l'article 17 et alinéa 3 du paragraphe 3 de l’article 17 du Décret n° 2.12.349 du 8 joumada I 1434
    (20 mars 2013) relatif aux des marchés publics.
</p>
<b style="text-decoration: underline;">B- Partie réservée au concurrent</b>
<p>
    Je, soussigné <b>Salim El Jaï, Directeur Général-Gérant,</b><br>
    Agissant au nom et pour le compte de : <b>SOLDAT S.A.R.L</b><br>
    Au capital de: <b>500.000 Dirhams</b><br>
    Adresse du siège social de la société: <b>1100 Boulevard Al Qods Régus, Shore1, 20190 Casablanca Maroc</b><br>
    Adresse du domicile élu: <b>22 Rue du parc, Régus le théâtre 20100 Casablanca</b><br>
    Affiliée à la CNSS sous le N° <b>5799749</b><br>
    Inscrite au registre du commerce Casablanca sous le n° <b>393609</b><br>
    N° de patente <b>36191840</b><br>
    En vertu des pouvoirs qui me sont conférés :<br>
    Après avoir pris connaissance du dossier d'appel d’offres concernant les prestations précisées
    en objet de la partie A ci-dessus;<br>
    Après avoir apprécié à mon point de vue et sous ma responsabilité la nature et les difficultés que comportent ces
    prestations :<br>
    1) remets, revêtu(s) de ma signature un bordereau de prix - détail estimatif établi conformément aux modèles
    figurant au dossier d’appel d’offres;<br>
    2) m’engage à exécuter lesdites prestations conformément au cahier des prescriptions spéciales et moyennant les prix
    que j’ai établis moi-même, lesquels font ressortir :<br>
</p>