{% extends 'base.html.twig' %}

{% block body %}
	<h1>Ajouter une Metier</h1>
	<p class="lead">Consulter et editer les Metier utilisées dans la gestion commerciale.<br> A venir, une mise a jour automatique des Metier</p>

	<div class="row">
		<div class="col-lg-12">
			{{ form_start(form) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}  	