{% extends 'base.html.twig' %}

{% block body %}

	<h1>Effacer une Metier</h1>
	<p class="lead">Consulter et editer les Metier utilisés dans la gestion commerciale.<br> A venir, une mise a jour automatique des Metier</p>
	<hr>

	<h2 class="page-header">{{ nom }}</h2>
	<table>
		<tbody>
			<tr>
				<td>
					<a type="button" href="{{ url('garantie_delete_confirmed', {'id' : id})}}" class="btn btn-danger">Effacer {{ nom }}</a>
				</td>
				<td>
				-
				</td>
				<td>
					<a type="button" href="{{ url('metier_list')}}" class="btn btn-default">Annuler</a>
				</td>
			</tr>
		</tbody>
	</table>

{% endblock %}