{% extends 'base.html.twig' %}

{% block body %}
	<h1>Créer un Statut Produit</h1>
	<p class="lead">Vous etes sur le point de créer un nouveau statut produit</p>

	<div class="row">
		<div class="col-lg-12">
			{{ form_start(form) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}  	