{% extends 'base.html.twig' %}

{% block body %}
<h1>Consulter une Entete</h1>
	<p class="lead">Consulter et editer les Entetes utilisées dans la gestion commerciale.<br> A venir, une mise a jour automatique des Entetes</p>
<hr>
<a type="button" href="/Entete" class="btn btn-default">Retour à la liste</a>
<h2 class="page-header"><strong>{{ enregistrement.titre }}</strong></h2>
<ul class="list-group">
  <li class="list-group-item">{{enregistrement.texte}}</li>
</ul>

{% endblock %}