-- phpMyAdmin SQL Dump
-- version 4.6.4
-- https://www.phpmyadmin.net/
--
-- Client :  127.0.0.1
-- Généré le :  Ven 25 Août 2017 à 09:20
-- Version du serveur :  5.7.14
-- Version de PHP :  5.6.25

SET SQL_MODE = "NO_AUTO_VALUE_ON_ZERO";
SET time_zone = "+00:00";


/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;

--
-- Base de données :  `gestioncommerciale`
--

-- --------------------------------------------------------

--
-- Structure de la table `bc_termes`
--

CREATE TABLE `bc_termes` (
  `bon_de_commande_client_id` int(11) NOT NULL,
  `terme_commercial_id` int(11) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

-- --------------------------------------------------------

--
-- Structure de la table `bon_de_commande_client`
--

CREATE TABLE `bon_de_commande_client` (
  `id` int(11) NOT NULL,
  `contact_id` int(11) DEFAULT NULL,
  `devis_id` int(11) DEFAULT NULL,
  `datedereception` datetime NOT NULL,
  `numeroDeBonDeCommandeClient` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `fichier` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `Commercial_id` int(11) DEFAULT NULL,
  `Client_id` int(11) DEFAULT NULL,
  `datebondecommande` datetime NOT NULL,
  `echeance` int(11) NOT NULL,
  `verrouille` tinyint(1) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

-- --------------------------------------------------------

--
-- Structure de la table `client`
--

CREATE TABLE `client` (
  `id` int(11) NOT NULL,
  `nom` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `delaipaiementconstate` int(11) NOT NULL,
  `secteur` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `prive` tinyint(1) NOT NULL,
  `User_id` int(11) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

--
-- Contenu de la table `client`
--

INSERT INTO `client` (`id`, `nom`, `delaipaiementconstate`, `secteur`, `prive`, `User_id`) VALUES
(1, 'Banque Centrale Populaire (BCP)', 180, 'Financial services industry', 0, 3),
(3, 'Attijari Wafabank', 120, 'Financial services industry', 1, 3),
(4, 'Inwi', 90, 'Telecommunications industry', 1, 5),
(8, 'CIH', 60, 'Financial services industry', 0, 3),
(9, 'Orange', 60, 'Telecommunications industry', 0, 3),
(10, 'OCP', 120, 'Chemical industry', 1, 3),
(11, 'Société Générale', 60, 'Financial services industry', 1, 5),
(12, 'LEAR CORPORATION', 60, 'Manufacturing', 1, 5);

-- --------------------------------------------------------

--
-- Structure de la table `commercial`
--

CREATE TABLE `commercial` (
  `id` int(11) NOT NULL,
  `nom` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `prenom` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `genre` varchar(255) COLLATE utf8_unicode_ci NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

--
-- Contenu de la table `commercial`
--

INSERT INTO `commercial` (`id`, `nom`, `prenom`, `genre`) VALUES
(1, 'El Jai', 'Salim', ''),
(3, 'Amor', 'Amine', '');

-- --------------------------------------------------------

--
-- Structure de la table `contact`
--

CREATE TABLE `contact` (
  `id` int(11) NOT NULL,
  `nom` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `prenom` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `civilite` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `telephone` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `client_id` int(11) DEFAULT NULL,
  `genre` tinyint(1) NOT NULL,
  `poste` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `defaut` tinyint(1) NOT NULL,
  `departement` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `fournisseur_id` int(11) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

--
-- Contenu de la table `contact`
--

INSERT INTO `contact` (`id`, `nom`, `prenom`, `civilite`, `email`, `telephone`, `client_id`, `genre`, `poste`, `defaut`, `departement`, `fournisseur_id`) VALUES
(1, 'Marhoum', 'Samir', 'M.', 's.marhoum@inwi.ma', '0661794613', 4, 0, 'Responsable infrastructure', 1, 'IT', NULL),
(2, 'Benbachir', 'Amine', 'M.', 'a.benbachir@awb.co.ma', '+212529009500', 3, 0, 'Responsable IT', 1, 'IT', NULL),
(3, 'Vierge', 'Marie', 'Melle', 'marie@cieux.com', '+212522000000', 3, 1, 'Conception', 0, 'Immaculé', NULL),
(4, 'Bouzoubaa', 'Latifa', 'Mme', 'a.benbachir@awb.co.ma', '+212529009500', 1, 1, 'Responsable IT', 1, 'IT', NULL),
(5, 'Bindech', 'Adil', 'M.', 'adil.bindech@cih.co.ma', '+212522 00 48 59', 8, 0, 'Responsable infrastructure', 1, 'Informatique', NULL),
(6, 'Lakhdar', 'Aziz', 'M.', 'a.lakhdar@orange.com', '+212670958474', 9, 0, 'DSI', 1, 'Informatique', NULL),
(7, 'Agountar', 'Elhousine', 'M.', 'h.agountar@ocp.co.ma', '+212522456456', 10, 0, 'Responsable infrastructure', 1, 'Informatique', NULL),
(8, 'Bencouscous', 'Mohamed', 'M.', 'm.couscous@socgen.ma', '+212522852741', 11, 0, 'Responsable bureautique', 1, 'Informatique', NULL),
(9, 'SRO', 'Ayoub', 'M.', 'ayoub.SRO@lear.com', '091296555', 12, 0, 'Achteur', 1, 'Achat', NULL),
(16, 'Nassiri', 'Mohamed', 'M.', 'mohamed.nassiri@lenovo.com', '+212529009500', NULL, 0, 'GM', 0, 'Sales', 5),
(18, 'Sansi', 'Tarik', 'M.', 'tarik.sansi@lenovo.com', '+212529009500', NULL, 0, 'AM', 1, 'Sales', 5),
(19, 'Azzioui', 'Khalid', 'M.', 'k.azioui@microsoft.com', '+212529009500', NULL, 0, 'Account Executive', 1, 'Sales', 6),
(20, 'Hafiz', 'Samir', 'M.', 'samif.hafiz@hpe.com', '+212529009500', NULL, 0, 'GM', 1, 'Sales', 2),
(21, 'Bouzoubaa', 'Samah', 'Mme', 's.b@disway.ma', '+212529009500', NULL, 1, 'Responsable produit', 1, 'Sales', 3);

-- --------------------------------------------------------

--
-- Structure de la table `devis`
--

CREATE TABLE `devis` (
  `id` int(11) NOT NULL,
  `numversion` int(11) NOT NULL,
  `datecreation` datetime NOT NULL,
  `datemodification` datetime NOT NULL,
  `validite` int(11) NOT NULL,
  `User_id` int(11) DEFAULT NULL,
  `Client_id` int(11) DEFAULT NULL,
  `titre` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `Entete_id` int(11) DEFAULT NULL,
  `TravailLivraison_id` int(11) DEFAULT NULL,
  `TravailAvantVente_id` int(11) DEFAULT NULL,
  `TravailCommercial_id` int(11) DEFAULT NULL,
  `TravailImport_id` int(11) DEFAULT NULL,
  `Travailminimum` double NOT NULL,
  `TauxFinancementTresorerie` double NOT NULL,
  `piedDePage_id` int(11) DEFAULT NULL,
  `contact_id` int(11) DEFAULT NULL,
  `datemiseajourchange` datetime NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

--
-- Contenu de la table `devis`
--

INSERT INTO `devis` (`id`, `numversion`, `datecreation`, `datemodification`, `validite`, `User_id`, `Client_id`, `titre`, `Entete_id`, `TravailLivraison_id`, `TravailAvantVente_id`, `TravailCommercial_id`, `TravailImport_id`, `Travailminimum`, `TauxFinancementTresorerie`, `piedDePage_id`, `contact_id`, `datemiseajourchange`) VALUES
(49, 3, '2017-08-22 18:36:48', '2017-08-24 07:13:53', 15, 3, 8, 'Acquisition des serveurs agence', 1, 6, 5, 4, 4, 0.03, 0.06, 1, 5, '0000-00-00 00:00:00'),
(50, 21, '2017-08-24 18:03:57', '2017-08-24 18:04:07', 15, 3, 8, 'Devis Excel', 1, 4, 1, 3, 3, 0.03, 0.06, 1, 5, '2017-08-24 18:03:57'),
(51, 33, '2017-08-24 19:17:44', '2017-08-25 08:39:00', 15, 3, 9, 'Devis Excel', 1, 4, 1, 3, 3, 0.03, 0.06, 1, 6, '2017-08-24 19:17:44'),
(53, 0, '2017-08-25 09:02:43', '2017-08-25 09:02:43', 15, 3, 8, 'Devis Excel 3', 1, 4, 1, 3, 3, 0.03, 0.06, 1, 5, '2017-08-25 09:02:43'),
(54, 0, '2017-08-25 09:05:01', '2017-08-25 09:05:01', 15, 3, 9, 'Devis Excel4', 1, 4, 1, 3, 3, 0.03, 0.06, 1, 6, '2017-08-25 09:05:01'),
(55, 0, '2017-08-25 09:16:46', '2017-08-25 09:16:46', 15, 3, 3, 'Devis Excel6', 1, 4, 1, 3, 3, 0.03, 0.06, 1, 2, '2017-08-25 09:16:46');

-- --------------------------------------------------------

--
-- Structure de la table `devis_termes`
--

CREATE TABLE `devis_termes` (
  `devis_id` int(11) NOT NULL,
  `terme_commercial_id` int(11) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

--
-- Contenu de la table `devis_termes`
--

INSERT INTO `devis_termes` (`devis_id`, `terme_commercial_id`) VALUES
(49, 1),
(49, 2),
(49, 3),
(49, 5);

-- --------------------------------------------------------

--
-- Structure de la table `entete`
--

CREATE TABLE `entete` (
  `id` int(11) NOT NULL,
  `titre` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `texte` longtext COLLATE utf8_unicode_ci NOT NULL,
  `langue` longtext COLLATE utf8_unicode_ci NOT NULL,
  `genre` longtext COLLATE utf8_unicode_ci NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

--
-- Contenu de la table `entete`
--

INSERT INTO `entete` (`id`, `titre`, `texte`, `langue`, `genre`) VALUES
(1, 'Classique', 'Bonjour Monsieur,\r\n\r\nMerci de trouver notre meilleure offre financière. En espérant répondre à vos attentes.\r\n\r\nCdt,\r\nService commercial.', '', ''),
(2, 'HTML', '<html>\r\n<header><title>This is title</title></header>\r\n<body>\r\nHello world\r\n</body>\r\n</html>', 'HTML', 'H');

-- --------------------------------------------------------

--
-- Structure de la table `financement`
--

CREATE TABLE `financement` (
  `id` int(11) NOT NULL,
  `nom` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `description` longtext COLLATE utf8_unicode_ci NOT NULL,
  `periode` int(11) NOT NULL,
  `taux` double NOT NULL,
  `cout` double NOT NULL,
  `loyer` double NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

-- --------------------------------------------------------

--
-- Structure de la table `fournisseur`
--

CREATE TABLE `fournisseur` (
  `id` int(11) NOT NULL,
  `nom` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `fa` double NOT NULL,
  `termepaiement` int(11) NOT NULL,
  `Monnaie_id` int(11) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

--
-- Contenu de la table `fournisseur`
--

INSERT INTO `fournisseur` (`id`, `nom`, `fa`, `termepaiement`, `Monnaie_id`) VALUES
(1, 'Dell', 0.07, 60, 1),
(2, 'HPE', 0.04, 45, 2),
(3, 'Disway', 0, 90, 3),
(4, 'HP inc', 0.04, 45, 2),
(5, 'Lenovo', 0.04, 45, 1),
(6, 'Microsoft', 0, 30, 1),
(7, 'Ricoh', 0.07, 30, 2),
(8, 'DELL EMC', 0.07, 30, 1),
(9, 'Local', 0, 90, 3);

-- --------------------------------------------------------

--
-- Structure de la table `garantie`
--

CREATE TABLE `garantie` (
  `id` int(11) NOT NULL,
  `nom` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `description` longtext COLLATE utf8_unicode_ci NOT NULL,
  `duree` int(11) NOT NULL,
  `disponibilite` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `intervention` int(11) NOT NULL,
  `reparation` int(11) NOT NULL,
  `supplement` varchar(255) COLLATE utf8_unicode_ci NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

--
-- Contenu de la table `garantie`
--

INSERT INTO `garantie` (`id`, `nom`, `description`, `duree`, `disponibilite`, `intervention`, `reparation`, `supplement`) VALUES
(1, 'Basique', 'Garantie de base durant la période de couverture d\'un équipement par sa garantie constructeur', 12, 'Heures de travail', 48, 0, 'Aucun'),
(2, 'Basique', 'Garantie de base durant la période de couverture d\'un équipement par sa garantie constructeur', 36, 'Heures de travail', 48, 0, 'Aucun'),
(3, 'Sensible', 'Garantie avec engagement de réponse, durant la période de couverture d\'un équipement par sa garantie constructeur', 36, '24/27, 7/7', 24, 168, 'Aucun');

-- --------------------------------------------------------

--
-- Structure de la table `metier`
--

CREATE TABLE `metier` (
  `id` int(11) NOT NULL,
  `nom` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `description` longtext COLLATE utf8_unicode_ci NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

--
-- Contenu de la table `metier`
--

INSERT INTO `metier` (`id`, `nom`, `description`) VALUES
(1, 'Infrastructure serveur', 'Tout types de produits et services autour de l\'infrastructure serveur, stockage, sauvegarde, archivage, virtualisation et système.'),
(3, 'Image', 'Tout type de produit autour de l\'impression, scanner, logiciels.'),
(4, 'Client', 'Tout type de produit ou service autour de l\'environnement du poste de travail.');

-- --------------------------------------------------------

--
-- Structure de la table `monnaie`
--

CREATE TABLE `monnaie` (
  `id` int(11) NOT NULL,
  `nom` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `symbol` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `code` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `taux_achat` double NOT NULL,
  `taux_vente` double NOT NULL,
  `date_creation` datetime NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

--
-- Contenu de la table `monnaie`
--

INSERT INTO `monnaie` (`id`, `nom`, `symbol`, `code`, `taux_achat`, `taux_vente`, `date_creation`) VALUES
(1, 'Dollar US', '$', 'USD', 9.3962, 9.4526, '2017-08-24 19:19:43'),
(2, 'Euro', '€', 'EUR', 11.087, 11.153, '2017-08-25 05:16:25'),
(3, 'Dirham Marocain', 'Dh', 'MAD', 1, 1, '2017-08-25 05:16:36'),
(5, 'Livre Sterling', '£', 'GBP', 12.055, 12.128, '2017-08-25 05:59:19'),
(6, 'Yens', '¥', 'JPY', 8.5884, 8.64, '2017-08-25 05:59:23'),
(7, 'Couronne Danoise', 'DKK', 'DKK', 149.05, 149.95, '2017-08-25 05:59:32'),
(8, 'Dinar Kowetien', 'KWD', 'KWD', 31.134, 31.321, '2017-08-25 05:59:33');

-- --------------------------------------------------------

--
-- Structure de la table `parametres`
--

CREATE TABLE `parametres` (
  `id` int(11) NOT NULL,
  `nom` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `description` longtext COLLATE utf8_unicode_ci NOT NULL,
  `valeur` double DEFAULT NULL,
  `label` varchar(255) COLLATE utf8_unicode_ci DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

--
-- Contenu de la table `parametres`
--

INSERT INTO `parametres` (`id`, `nom`, `description`, `valeur`, `label`) VALUES
(1, 'Coût Moyen Service Microdata', 'Taux de charge moyen sur chiffre d\'affaire pour la production de service Microdata', 0.4, NULL),
(2, 'Taux de Financement trésorerie', 'Taux débiteur moyen annuel facturé par la banque à Microdata pour la trésorerie', 0.06, NULL),
(3, 'Coûts plancher', 'Taux de charge exprimé en pourcentage de chiffre d\'affaires représentant les charges fixes minimales.', 0.03, 'minimum');

-- --------------------------------------------------------

--
-- Structure de la table `pied_de_page`
--

CREATE TABLE `pied_de_page` (
  `id` int(11) NOT NULL,
  `titre` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `adresse` longtext COLLATE utf8_unicode_ci NOT NULL,
  `telephone` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `fax` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `siteweb` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `formejuridique` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `capital` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `rc` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `patente` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `ice` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `cnss` varchar(255) COLLATE utf8_unicode_ci NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

--
-- Contenu de la table `pied_de_page`
--

INSERT INTO `pied_de_page` (`id`, `titre`, `adresse`, `telephone`, `fax`, `email`, `siteweb`, `formejuridique`, `capital`, `rc`, `patente`, `ice`, `cnss`) VALUES
(1, 'Classique', '1, Rue Amina bent Ouahab', '+212 529 009 500', '+212 522 948 589', 'contact@microdata.ma', 'www.microdata.ma', 'S.A.', '42.000.000 Dirhams', 'Casablanca - 62 859', '35710145', '001526767000060', '210 6442');

-- --------------------------------------------------------

--
-- Structure de la table `produitbc`
--

CREATE TABLE `produitbc` (
  `id` int(11) NOT NULL,
  `metier_id` int(11) DEFAULT NULL,
  `typeproduit_id` int(11) DEFAULT NULL,
  `fournisseur_id` int(11) DEFAULT NULL,
  `quantite` int(11) NOT NULL,
  `numero` int(11) NOT NULL,
  `reference` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `designation` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `description` longtext COLLATE utf8_unicode_ci NOT NULL,
  `prixachatht` double NOT NULL,
  `tauxTVA` double NOT NULL,
  `fraisapproche` double NOT NULL,
  `tauxAchat` double NOT NULL,
  `prixDeVente` double NOT NULL,
  `referenceoffre` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `Devise_Achat_id` int(11) DEFAULT NULL,
  `Devise_Vente_id` int(11) DEFAULT NULL,
  `BonDeCommandeClient_id` int(11) DEFAULT NULL,
  `statutProduit_id` int(11) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

-- --------------------------------------------------------

--
-- Structure de la table `produits_garanties`
--

CREATE TABLE `produits_garanties` (
  `produit_devis_id` int(11) NOT NULL,
  `garantie_id` int(11) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

--
-- Contenu de la table `produits_garanties`
--

INSERT INTO `produits_garanties` (`produit_devis_id`, `garantie_id`) VALUES
(293, 2);

-- --------------------------------------------------------

--
-- Structure de la table `produits_termes`
--

CREATE TABLE `produits_termes` (
  `produit_devis_id` int(11) NOT NULL,
  `terme_commercial_id` int(11) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

--
-- Contenu de la table `produits_termes`
--

INSERT INTO `produits_termes` (`produit_devis_id`, `terme_commercial_id`) VALUES
(293, 2);

-- --------------------------------------------------------

--
-- Structure de la table `produit_devis`
--

CREATE TABLE `produit_devis` (
  `id` int(11) NOT NULL,
  `quantite` int(11) NOT NULL,
  `designation` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `description` longtext COLLATE utf8_unicode_ci NOT NULL,
  `prixachatht` double NOT NULL,
  `fraisapproche` double NOT NULL,
  `marge` double NOT NULL,
  `referenceoffre` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `metier_id` int(11) DEFAULT NULL,
  `typeproduit_id` int(11) DEFAULT NULL,
  `Devise_Achat_id` int(11) DEFAULT NULL,
  `Devis_id` int(11) DEFAULT NULL,
  `fournisseur_id` int(11) DEFAULT NULL,
  `tauxTVA` double NOT NULL,
  `tauxAchat` double NOT NULL,
  `Devise_Vente_id` int(11) DEFAULT NULL,
  `numero` int(11) NOT NULL,
  `reference` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `contact_id` int(11) DEFAULT NULL,
  `dateoffre` datetime NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

--
-- Contenu de la table `produit_devis`
--

INSERT INTO `produit_devis` (`id`, `quantite`, `designation`, `description`, `prixachatht`, `fraisapproche`, `marge`, `referenceoffre`, `metier_id`, `typeproduit_id`, `Devise_Achat_id`, `Devis_id`, `fournisseur_id`, `tauxTVA`, `tauxAchat`, `Devise_Vente_id`, `numero`, `reference`, `contact_id`, `dateoffre`) VALUES
(293, 1, 'PC De bureau', 'Dell Optiplex 7050', 650, 0, 0.15, '#456123', 4, 3, 1, 49, 5, 0.2, 9.44, 3, 1, 'PC De bureau', 18, '2017-08-22 00:00:00'),
(294, 3, ' ', 'baie stockagedell', 7500, 0.07, 0.1304, 'Inconnue', 1, 3, 1, 50, 1, 0.2, 10.2, 3, 1, ' ', NULL, '2017-08-24 18:04:07'),
(295, 2, ' ', 'Produit 2', 7501, 0.07, 0.1304, 'Inconnue', 4, 2, 1, 50, 1, 0.2, 10.2, 3, 2, ' ', NULL, '2017-08-24 18:04:07'),
(296, 100, ' ', 'Produit 3', 7502, 0.07, 0.1304, 'Inconnue', 4, 3, 1, 50, 1, 0.2, 10.2, 3, 3, ' ', NULL, '2017-08-24 18:04:07'),
(297, 2, ' ', 'Produit 4', 7503, 0.045, 0.1304, 'Inconnue', 4, 3, 2, 50, 4, 0.2, 10.2, 3, 4, ' ', NULL, '2017-08-24 18:04:07'),
(298, 1, ' ', 'Produit 5', 7504, 0, 0.1304, 'Inconnue', 4, 3, 1, 50, 6, 0.2, 10.2, 3, 5, ' ', NULL, '2017-08-24 18:04:07'),
(299, 1, ' ', 'Produit 6', 7505, 0, 0.1304, 'Inconnue', 4, 3, 3, 50, 9, 0.2, 1, 3, 6, ' ', NULL, '2017-08-24 18:04:07'),
(300, 10, ' ', 'Produit 7', 7506, 0.07, 0.1304, 'Inconnue', 3, 3, 2, 50, 7, 0.2, 10.2, 3, 7, ' ', NULL, '2017-08-24 18:04:07'),
(301, 1, ' ', 'Produit 8', 7507, 0, 0.1304, 'Inconnue', 3, 3, 3, 50, 9, 0.2, 1, 3, 8, ' ', NULL, '2017-08-24 18:04:07'),
(302, 2, ' ', 'Produit 9', 7508, 0.045, 0.1304, 'Inconnue', 3, 3, 2, 50, 4, 0.2, 10.2, 3, 9, ' ', NULL, '2017-08-24 18:04:07'),
(303, 2, ' ', 'Produit 10', 7509, 0, 0, 'Inconnue', 3, 1, 3, 50, 9, 0.2, 1, 3, 10, ' ', NULL, '2017-08-24 18:04:07'),
(304, 4, ' ', 'Produit 11', 7510, 0, 0.1304, 'Inconnue', 4, 3, 3, 50, 9, 0.2, 1, 3, 11, ' ', NULL, '2017-08-24 18:04:07'),
(305, 8, ' ', 'Produit 12', 7511, 0, 0.1304, 'Inconnue', 4, 3, 3, 50, 9, 0.2, 1, 3, 12, ' ', NULL, '2017-08-24 18:04:07'),
(306, 48, ' ', 'Produit 13', 7512, 0, 0.1304, 'Inconnue', 4, 3, 3, 50, 9, 0.2, 1, 3, 13, ' ', NULL, '2017-08-24 18:04:07'),
(307, 4, ' ', 'Produit 14', 7513, 0, 0.1304, 'Inconnue', 1, 3, 3, 50, 9, 0.2, 1, 3, 14, ' ', NULL, '2017-08-24 18:04:07'),
(308, 20, ' ', 'Produit 15', 7514, 0, 0.1304, 'Inconnue', 1, 3, 3, 50, 9, 0.2, 1, 3, 15, ' ', NULL, '2017-08-24 18:04:07'),
(309, 20, ' ', 'Produit 16', 7515, 0, 0.1304, 'Inconnue', 1, 3, 3, 50, 9, 0.2, 1, 3, 16, ' ', NULL, '2017-08-24 18:04:07'),
(310, 20, ' ', 'Produit 17', 7516, 0, 0.1304, 'Inconnue', 1, 3, 3, 50, 9, 0.2, 1, 3, 17, ' ', NULL, '2017-08-24 18:04:07'),
(311, 20, ' ', 'Produit 18', 7517, 0, 0, 'Inconnue', 1, 1, 3, 50, 9, 0.2, 1, 3, 18, ' ', NULL, '2017-08-24 18:04:07'),
(312, 20, ' ', 'Produit 19', 7518, 0, 0, 'Inconnue', 1, 1, 3, 50, 9, 0.2, 1, 3, 19, ' ', NULL, '2017-08-24 18:04:07'),
(313, 20, ' ', 'Produit 20', 7519, 0, 0, 'Inconnue', 4, 1, 3, 50, 9, 0.2, 1, 3, 20, ' ', NULL, '2017-08-24 18:04:07'),
(314, 0, ' ', 'Produit 21', 7520, 0, 0, 'Inconnue', 4, 1, 3, 50, 9, 0.2, 1, 3, 21, ' ', NULL, '2017-08-24 18:04:07'),
(315, 10, 'baie stockagedell', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum', 7500, 0, 0.15, 'Inconnue', 1, 3, 1, 51, 1, 0.2, 9.512, 3, 1, ' ', 19, '2017-08-24 00:00:00'),
(316, 1, 'Produit 2', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum', 7501, 0, 0.15, 'Inconnue', 4, 2, 1, 51, 1, 0.2, 9.512, 3, 2, ' ', 19, '2017-08-24 00:00:00'),
(317, 3, 'Produit 3', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum', 7502, 0, 0.15, 'Inconnue', 4, 3, 1, 51, 1, 0.2, 9.512, 3, 3, ' ', 19, '2017-08-24 00:00:00'),
(318, 10, 'Produit 4', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum', 7503, 0, 0.15, 'Inconnue', 4, 3, 2, 51, 4, 0.2, 11.196, 3, 4, ' ', 19, '2017-08-24 00:00:00'),
(319, 7, 'Produit 5', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum', 7504, 0, 0.15, 'Inconnue', 4, 3, 1, 51, 6, 0.2, 9.466, 3, 5, ' ', 19, '2017-08-24 00:00:00'),
(320, 5, 'Produit 6', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum', 7505, 0, 0.15, 'Inconnue', 4, 3, 3, 51, 9, 0.2, 1.017, 3, 6, ' ', 19, '2017-08-24 00:00:00'),
(321, 1, 'Produit 7', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum', 7506, 0, 0.15, 'Inconnue', 3, 3, 2, 51, 7, 0.2, 11.169, 3, 7, ' ', 19, '2017-08-24 00:00:00'),
(322, 10, 'Produit 8', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum', 7507, 0, 0.15, 'Inconnue', 3, 3, 3, 51, 9, 0.2, 1.017, 3, 8, ' ', 19, '2017-08-24 00:00:00'),
(323, 6, 'Produit 9', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum', 7508, 0, 0.15, 'Inconnue', 3, 3, 2, 51, 4, 0.2, 11.196, 3, 9, ' ', 19, '2017-08-24 00:00:00'),
(324, 10, 'Produit 10', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum', 7509, 0, 0.15, 'Inconnue', 3, 1, 3, 51, 9, 0.2, 1.017, 3, 10, ' ', 19, '2017-08-24 00:00:00'),
(325, 15, 'Produit 11', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum', 7510, 0, 0.15, 'Inconnue', 4, 3, 3, 51, 9, 0.2, 1.017, 3, 11, ' ', 19, '2017-08-24 00:00:00'),
(326, 3, 'Produit 12', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum', 7511, 0, 0.15, 'Inconnue', 4, 3, 3, 51, 9, 0.2, 1.017, 3, 12, ' ', 19, '2017-08-24 00:00:00'),
(327, 3, 'Produit 13', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum', 7512, 0, 0.15, 'Inconnue', 4, 3, 3, 51, 9, 0.2, 1.017, 3, 13, ' ', 19, '2017-08-24 00:00:00'),
(328, 4, 'Produit 14', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum', 7513, 0, 0.15, 'Inconnue', 1, 3, 3, 51, 9, 0.2, 1.017, 3, 14, ' ', 19, '2017-08-24 00:00:00'),
(329, 2, 'Produit 15', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum', 7514, 0, 0.15, 'Inconnue', 1, 3, 3, 51, 9, 0.2, 1.017, 3, 15, ' ', 19, '2017-08-24 00:00:00'),
(330, 1, 'Produit 16', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum', 7515, 0, 0.15, 'Inconnue', 1, 3, 3, 51, 9, 0.2, 1.017, 3, 16, ' ', 19, '2017-08-24 00:00:00'),
(331, 1, 'Produit 17', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum', 7516, 0, 0.15, 'Inconnue', 1, 3, 3, 51, 9, 0.2, 1.017, 3, 17, ' ', 19, '2017-08-24 00:00:00'),
(332, 1, 'Produit 18', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum', 7517, 0, 0.15, 'Inconnue', 1, 1, 3, 51, 9, 0.2, 1.017, 3, 18, ' ', 19, '2017-08-24 00:00:00'),
(333, 1, 'Produit 19', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum', 7518, 0, 0.15, 'Inconnue', 1, 1, 3, 51, 9, 0.2, 1.017, 3, 19, ' ', 19, '2017-08-24 00:00:00'),
(334, 1, 'Produit 20', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum', 7519, 0, 0.15, 'Inconnue', 4, 1, 3, 51, 9, 0.2, 1.017, 3, 20, ' ', 19, '2017-08-24 00:00:00'),
(335, 1, 'Produit 21', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum', 7520, 0, 0.15, 'Inconnue', 4, 1, 3, 51, 9, 0.2, 1.017, 3, 21, ' ', 19, '2017-08-24 00:00:00'),
(336, 3, ' ', 'baie stockagedell', 7500, 0.07, 0.1304, 'Inconnue', 1, 3, 1, 53, 1, 0.2, 10.2, 3, 2, ' ', NULL, '2017-08-25 09:02:50'),
(337, 2, ' ', 'Produit 2', 7501, 0.07, 0.1304, 'Inconnue', 4, 2, 1, 53, 1, 0.2, 10.2, 3, 4, ' ', NULL, '2017-08-25 09:02:50'),
(338, 100, ' ', 'Produit 3', 7502, 0.07, 0.1304, 'Inconnue', 4, 3, 1, 53, 1, 0.2, 10.2, 3, 6, ' ', NULL, '2017-08-25 09:02:50'),
(339, 2, ' ', 'Produit 4', 7503, 0.045, 0.1304, 'Inconnue', 4, 3, 2, 53, 4, 0.2, 10.2, 3, 8, ' ', NULL, '2017-08-25 09:02:50'),
(340, 1, ' ', 'Produit 5', 7504, 0, 0.1304, 'Inconnue', 4, 3, 1, 53, 6, 0.2, 10.2, 3, 10, ' ', NULL, '2017-08-25 09:02:50'),
(341, 1, ' ', 'Produit 6', 7505, 0, 0.1305, 'Inconnue', 4, 3, 3, 53, 9, 0.2, 1, 3, 12, ' ', NULL, '2017-08-25 09:02:50'),
(342, 10, ' ', 'Produit 7', 7506, 0.07, 0.1304, 'Inconnue', 3, 3, 2, 53, 7, 0.2, 10.2, 3, 14, ' ', NULL, '2017-08-25 09:02:50'),
(343, 1, ' ', 'Produit 8', 7507, 0, 0.1305, 'Inconnue', 3, 3, 3, 53, 9, 0.2, 1, 3, 16, ' ', NULL, '2017-08-25 09:02:50'),
(344, 2, ' ', 'Produit 9', 7508, 0.045, 0.1304, 'Inconnue', 3, 3, 2, 53, 4, 0.2, 10.2, 3, 18, ' ', NULL, '2017-08-25 09:02:50'),
(345, 2, ' ', 'Produit 10', 7509, 0, 0, 'Inconnue', 3, 1, 3, 53, 9, 0.2, 1, 3, 20, ' ', NULL, '2017-08-25 09:02:50'),
(346, 4, ' ', 'Produit 11', 7510, 0, 0.1305, 'Inconnue', 4, 3, 3, 53, 9, 0.2, 1, 3, 22, ' ', NULL, '2017-08-25 09:02:50'),
(347, 8, ' ', 'Produit 12', 7511, 0, 0.1305, 'Inconnue', 4, 3, 3, 53, 9, 0.2, 1, 3, 24, ' ', NULL, '2017-08-25 09:02:50'),
(348, 48, ' ', 'Produit 13', 7512, 0, 0.1305, 'Inconnue', 4, 3, 3, 53, 9, 0.2, 1, 3, 26, ' ', NULL, '2017-08-25 09:02:50'),
(349, 4, ' ', 'Produit 14', 7513, 0, 0.1304, 'Inconnue', 1, 3, 3, 53, 9, 0.2, 1, 3, 28, ' ', NULL, '2017-08-25 09:02:50'),
(350, 20, ' ', 'Produit 15', 7514, 0, 0.1305, 'Inconnue', 1, 3, 3, 53, 9, 0.2, 1, 3, 30, ' ', NULL, '2017-08-25 09:02:50'),
(351, 20, ' ', 'Produit 16', 7515, 0, 0.1305, 'Inconnue', 1, 3, 3, 53, 9, 0.2, 1, 3, 32, ' ', NULL, '2017-08-25 09:02:50'),
(352, 20, ' ', 'Produit 17', 7516, 0, 0.1305, 'Inconnue', 1, 3, 3, 53, 9, 0.2, 1, 3, 34, ' ', NULL, '2017-08-25 09:02:50'),
(353, 20, ' ', 'Produit 18', 7517, 0, 0, 'Inconnue', 1, 1, 3, 53, 9, 0.2, 1, 3, 36, ' ', NULL, '2017-08-25 09:02:50'),
(354, 20, ' ', 'Produit 19', 7518, 0, 0, 'Inconnue', 1, 1, 3, 53, 9, 0.2, 1, 3, 38, ' ', NULL, '2017-08-25 09:02:50'),
(355, 20, ' ', 'Produit 20', 7519, 0, 0, 'Inconnue', 4, 1, 3, 53, 9, 0.2, 1, 3, 40, ' ', NULL, '2017-08-25 09:02:50'),
(356, 0, ' ', 'Produit 21', 7520, 0, 0, 'Inconnue', 4, 1, 3, 53, 9, 0.2, 1, 3, 42, ' ', NULL, '2017-08-25 09:02:50'),
(357, 3, ' ', 'baie stockagedell', 7500, 0.07, 0.1304, 'Inconnue', 1, 3, 1, 54, 1, 0.2, 10.2, 3, 2, ' ', NULL, '2017-08-25 09:05:03'),
(358, 2, ' ', 'Produit 2', 7501, 0.07, 0.1304, 'Inconnue', 4, 2, 1, 54, 1, 0.2, 10.2, 3, 4, ' ', NULL, '2017-08-25 09:05:03'),
(359, 100, ' ', 'Produit 3', 7502, 0.07, 0.1304, 'Inconnue', 4, 3, 1, 54, 1, 0.2, 10.2, 3, 6, ' ', NULL, '2017-08-25 09:05:03'),
(360, 2, ' ', 'Produit 4', 7503, 0.045, 0.1304, 'Inconnue', 4, 3, 2, 54, 4, 0.2, 10.2, 3, 8, ' ', NULL, '2017-08-25 09:05:03'),
(361, 1, ' ', 'Produit 5', 7504, 0, 0.1304, 'Inconnue', 4, 3, 1, 54, 6, 0.2, 10.2, 3, 10, ' ', NULL, '2017-08-25 09:05:03'),
(362, 1, ' ', 'Produit 6', 7505, 0, 0.1305, 'Inconnue', 4, 3, 3, 54, 9, 0.2, 1, 3, 12, ' ', NULL, '2017-08-25 09:05:03'),
(363, 10, ' ', 'Produit 7', 7506, 0.07, 0.1304, 'Inconnue', 3, 3, 2, 54, 7, 0.2, 10.2, 3, 14, ' ', NULL, '2017-08-25 09:05:03'),
(364, 1, ' ', 'Produit 8', 7507, 0, 0.1305, 'Inconnue', 3, 3, 3, 54, 9, 0.2, 1, 3, 16, ' ', NULL, '2017-08-25 09:05:03'),
(365, 2, ' ', 'Produit 9', 7508, 0.045, 0.1304, 'Inconnue', 3, 3, 2, 54, 4, 0.2, 10.2, 3, 18, ' ', NULL, '2017-08-25 09:05:03'),
(366, 2, ' ', 'Produit 10', 7509, 0, 0, 'Inconnue', 3, 1, 3, 54, 9, 0.2, 1, 3, 20, ' ', NULL, '2017-08-25 09:05:03'),
(367, 4, ' ', 'Produit 11', 7510, 0, 0.1305, 'Inconnue', 4, 3, 3, 54, 9, 0.2, 1, 3, 22, ' ', NULL, '2017-08-25 09:05:03'),
(368, 8, ' ', 'Produit 12', 7511, 0, 0.1305, 'Inconnue', 4, 3, 3, 54, 9, 0.2, 1, 3, 24, ' ', NULL, '2017-08-25 09:05:03'),
(369, 48, ' ', 'Produit 13', 7512, 0, 0.1305, 'Inconnue', 4, 3, 3, 54, 9, 0.2, 1, 3, 26, ' ', NULL, '2017-08-25 09:05:03'),
(370, 4, ' ', 'Produit 14', 7513, 0, 0.1304, 'Inconnue', 1, 3, 3, 54, 9, 0.2, 1, 3, 28, ' ', NULL, '2017-08-25 09:05:03'),
(371, 20, ' ', 'Produit 15', 7514, 0, 0.1305, 'Inconnue', 1, 3, 3, 54, 9, 0.2, 1, 3, 30, ' ', NULL, '2017-08-25 09:05:03'),
(372, 20, ' ', 'Produit 16', 7515, 0, 0.1305, 'Inconnue', 1, 3, 3, 54, 9, 0.2, 1, 3, 32, ' ', NULL, '2017-08-25 09:05:03'),
(373, 20, ' ', 'Produit 17', 7516, 0, 0.1305, 'Inconnue', 1, 3, 3, 54, 9, 0.2, 1, 3, 34, ' ', NULL, '2017-08-25 09:05:03'),
(374, 20, ' ', 'Produit 18', 7517, 0, 0, 'Inconnue', 1, 1, 3, 54, 9, 0.2, 1, 3, 36, ' ', NULL, '2017-08-25 09:05:03'),
(375, 20, ' ', 'Produit 19', 7518, 0, 0, 'Inconnue', 1, 1, 3, 54, 9, 0.2, 1, 3, 38, ' ', NULL, '2017-08-25 09:05:03'),
(376, 20, ' ', 'Produit 20', 7519, 0, 0, 'Inconnue', 4, 1, 3, 54, 9, 0.2, 1, 3, 40, ' ', NULL, '2017-08-25 09:05:03'),
(377, 0, ' ', 'Produit 21', 7520, 0, 0, 'Inconnue', 4, 1, 3, 54, 9, 0.2, 1, 3, 42, ' ', NULL, '2017-08-25 09:05:03'),
(378, 3, ' ', 'baie stockagedell', 7500, 0.07, 0.13044171, 'Inconnue', 1, 3, 1, 55, 1, 0.2, 10.2, 3, 2, ' ', NULL, '2017-08-25 09:16:49'),
(379, 2, ' ', 'Produit 2', 7501, 0.07, 0.13043662, 'Inconnue', 4, 2, 1, 55, 1, 0.2, 10.2, 3, 4, ' ', NULL, '2017-08-25 09:16:49'),
(380, 100, ' ', 'Produit 3', 7502, 0.07, 0.13044077, 'Inconnue', 4, 3, 1, 55, 1, 0.2, 10.2, 3, 6, ' ', NULL, '2017-08-25 09:16:49'),
(381, 2, ' ', 'Produit 4', 7503, 0.045, 0.13043811, 'Inconnue', 4, 3, 2, 55, 4, 0.2, 10.2, 3, 8, ' ', NULL, '2017-08-25 09:16:49'),
(382, 1, ' ', 'Produit 5', 7504, 0, 0.13043557, 'Inconnue', 4, 3, 1, 55, 6, 0.2, 10.2, 3, 10, ' ', NULL, '2017-08-25 09:16:49'),
(383, 1, ' ', 'Produit 6', 7505, 0, 0.13045997, 'Inconnue', 4, 3, 3, 55, 9, 0.2, 1, 3, 12, ' ', NULL, '2017-08-25 09:16:49'),
(384, 10, ' ', 'Produit 7', 7506, 0.07, 0.13043888, 'Inconnue', 3, 3, 2, 55, 7, 0.2, 10.2, 3, 14, ' ', NULL, '2017-08-25 09:16:49'),
(385, 1, ' ', 'Produit 8', 7507, 0, 0.13053046, 'Inconnue', 3, 3, 3, 55, 9, 0.2, 1, 3, 16, ' ', NULL, '2017-08-25 09:16:49'),
(386, 2, ' ', 'Produit 9', 7508, 0.045, 0.13043537, 'Inconnue', 3, 3, 2, 55, 4, 0.2, 10.2, 3, 18, ' ', NULL, '2017-08-25 09:16:49'),
(387, 2, ' ', 'Produit 10', 7509, 0, 0, 'Inconnue', 3, 1, 3, 55, 9, 0.2, 1, 3, 20, ' ', NULL, '2017-08-25 09:16:49'),
(388, 4, ' ', 'Produit 11', 7510, 0, 0.13048512, 'Inconnue', 4, 3, 3, 55, 9, 0.2, 1, 3, 22, ' ', NULL, '2017-08-25 09:16:49'),
(389, 8, ' ', 'Produit 12', 7511, 0, 0.13047002, 'Inconnue', 4, 3, 3, 55, 9, 0.2, 1, 3, 24, ' ', NULL, '2017-08-25 09:16:49'),
(390, 48, ' ', 'Produit 13', 7512, 0, 0.13045491, 'Inconnue', 4, 3, 3, 55, 9, 0.2, 1, 3, 26, ' ', NULL, '2017-08-25 09:16:49'),
(391, 4, ' ', 'Produit 14', 7513, 0, 0.13043981, 'Inconnue', 1, 3, 3, 55, 9, 0.2, 1, 3, 28, ' ', NULL, '2017-08-25 09:16:49'),
(392, 20, ' ', 'Produit 15', 7514, 0, 0.13052534, 'Inconnue', 1, 3, 3, 55, 9, 0.2, 1, 3, 30, ' ', NULL, '2017-08-25 09:16:49'),
(393, 20, ' ', 'Produit 16', 7515, 0, 0.13051024, 'Inconnue', 1, 3, 3, 55, 9, 0.2, 1, 3, 32, ' ', NULL, '2017-08-25 09:16:49'),
(394, 20, ' ', 'Produit 17', 7516, 0, 0.13049514, 'Inconnue', 1, 3, 3, 55, 9, 0.2, 1, 3, 34, ' ', NULL, '2017-08-25 09:16:49'),
(395, 20, ' ', 'Produit 18', 7517, 0, 0, 'Inconnue', 1, 1, 3, 55, 9, 0.2, 1, 3, 36, ' ', NULL, '2017-08-25 09:16:49'),
(396, 20, ' ', 'Produit 19', 7518, 0, 0, 'Inconnue', 1, 1, 3, 55, 9, 0.2, 1, 3, 38, ' ', NULL, '2017-08-25 09:16:49'),
(397, 20, ' ', 'Produit 20', 7519, 0, 0, 'Inconnue', 4, 1, 3, 55, 9, 0.2, 1, 3, 40, ' ', NULL, '2017-08-25 09:16:49'),
(398, 0, ' ', 'Produit 21', 7520, 0, 0, 'Inconnue', 4, 1, 3, 55, 9, 0.2, 1, 3, 42, ' ', NULL, '2017-08-25 09:16:49');

-- --------------------------------------------------------

--
-- Structure de la table `statut_produit`
--

CREATE TABLE `statut_produit` (
  `id` int(11) NOT NULL,
  `nom` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `description` varchar(255) COLLATE utf8_unicode_ci NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

--
-- Contenu de la table `statut_produit`
--

INSERT INTO `statut_produit` (`id`, `nom`, `description`) VALUES
(1, 'Commande fournisseur', 'Le fournisseur a reçu la commande pour le produit concerné'),
(2, 'En Stock', 'Produit reçu ou disponible en stock'),
(3, 'En Production', 'Matériel en court de fabrication chez le fournisseur'),
(4, 'Transport', 'Le matériel est en cours d\'acheminement vers Microdata'),
(5, 'En transit', 'Le matériel est en cours de dédouanement'),
(6, 'Livré', 'Matériel reçu pour le client'),
(7, 'Initial', 'Premier statut à la réception du BC client avant toute opération');

-- --------------------------------------------------------

--
-- Structure de la table `terme_commercial`
--

CREATE TABLE `terme_commercial` (
  `id` int(11) NOT NULL,
  `nom` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `description` longtext COLLATE utf8_unicode_ci NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

--
-- Contenu de la table `terme_commercial`
--

INSERT INTO `terme_commercial` (`id`, `nom`, `description`) VALUES
(1, 'Paiement', 'Paiement à la livraison par chèque ou par virement'),
(2, 'Livraison', '4 à 6 semaines après commande'),
(3, 'Dummy', 'Garanty Dummy terms'),
(4, 'Garantie', 'Garantie retour atelier'),
(5, 'Retrait', 'Retrait au dépôt Microdata'),
(6, 'variation change', 'en cas de hausse du dollar de plus de 1% le devis est revu.'),
(7, 'Paiement 2', '60 jours date de facture');

-- --------------------------------------------------------

--
-- Structure de la table `travailimport`
--

CREATE TABLE `travailimport` (
  `id` int(11) NOT NULL,
  `nom` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `description` longtext COLLATE utf8_unicode_ci NOT NULL,
  `charge` double NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

--
-- Contenu de la table `travailimport`
--

INSERT INTO `travailimport` (`id`, `nom`, `description`, `charge`) VALUES
(1, 'Aucun', 'Achat Local, pas de recours au services d\'import', 0),
(2, 'Transit - simple', 'Opération de transit simple.', 0.0025),
(3, 'Transport International', 'Transport international et transit. Par exemple importation Dell', 0.005),
(4, 'Opération complexe', 'Admission temporaires, triangulaire etc ...', 0.01);

-- --------------------------------------------------------

--
-- Structure de la table `travail_avant_vente`
--

CREATE TABLE `travail_avant_vente` (
  `id` int(11) NOT NULL,
  `nom` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `description` longtext COLLATE utf8_unicode_ci NOT NULL,
  `charge` double NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

--
-- Contenu de la table `travail_avant_vente`
--

INSERT INTO `travail_avant_vente` (`id`, `nom`, `description`, `charge`) VALUES
(1, 'Aucun', 'Métiers n\'impliquant pas l\'équipe avant-vente, comme la vente de PC.', 0),
(2, 'Réactif - faible', 'Il s\'agit d\'une demande émanant du service commercial ou du client directement pour un besoin de faible complexité.', 0.005),
(3, 'Réactif - important', 'Un travail réactif à l\'initiative du client ou du service commercial nécessitant la production de documents importants type architecture tableau de conformité etc ...', 0.01),
(4, 'Proactif - faible', 'Travail à l\'initiative de Microdata, ne necissitant pas de POC ou pilote.', 0.02),
(5, 'Proactif - important', 'Travail à l\'initiative de Microdata avec POC ou pilote', 0.03);

-- --------------------------------------------------------

--
-- Structure de la table `travail_commercial`
--

CREATE TABLE `travail_commercial` (
  `id` int(11) NOT NULL,
  `nom` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `description` longtext COLLATE utf8_unicode_ci NOT NULL,
  `charge` double NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

--
-- Contenu de la table `travail_commercial`
--

INSERT INTO `travail_commercial` (`id`, `nom`, `description`, `charge`) VALUES
(1, 'Traitement', 'Bon de commande reçu directement.', 0.005),
(2, 'Réactif - faible', 'Demande d\'offre entrante avec un devis simple.', 0.008),
(3, 'Réactif - important', 'Demande d\'offre entrante avec de nombreuse références et/ou fournisseurs ou nécessitant un dossier (ex : AO)', 0.01),
(4, 'Proactif - faible', 'A l\'initiative du département commercial, sur un cycle de vente assez court, quelques action commerciales peu coûteuses.', 0.015),
(5, 'Proactif - important', 'A l\'initiative du département commercial, sur un cycle de vente moyen à long, avec des action commerciales coûteuses type voyages, etc ...', 0.02),
(6, 'Projet de grande envergure', 'Projet sur 12 mois et plus, nécessitant une implication importante et sur la durée.', 0.03);

-- --------------------------------------------------------

--
-- Structure de la table `travail_livraison`
--

CREATE TABLE `travail_livraison` (
  `id` int(11) NOT NULL,
  `nom` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `description` longtext COLLATE utf8_unicode_ci NOT NULL,
  `charge` double NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

--
-- Contenu de la table `travail_livraison`
--

INSERT INTO `travail_livraison` (`id`, `nom`, `description`, `charge`) VALUES
(1, 'Aucune', 'Produit non matérialisé type license', 0.001),
(2, 'Livraison petit colis Casablanca', 'Livraison d\'un produit : \r\nNe nécessitant pas un gros véhicule, \r\nMutualisable sur plusieurs livraison.\r\nA casablanca', 0.005),
(3, 'Livraison gros colis Casablanca', 'Livraison sur Casablanca, non mutualisable, véhicule spécial.', 0.007),
(4, 'Livraison Monosite hors CASA', 'Livraison en seul site pour un client hors ville  - non mutualisable', 0.01),
(5, 'Livraison Moins de 10 sites', 'Petits déploiements national', 0.015),
(6, 'Déploiement Complexe', 'Livraison sur de nombreux sites nationaux', 0.02);

-- --------------------------------------------------------

--
-- Structure de la table `type_produit`
--

CREATE TABLE `type_produit` (
  `id` int(11) NOT NULL,
  `nom` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `description` longtext COLLATE utf8_unicode_ci NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

--
-- Contenu de la table `type_produit`
--

INSERT INTO `type_produit` (`id`, `nom`, `description`) VALUES
(1, 'Service Microdata', 'Produit de nature service qui est fournis sur la base de ressources interne à Microdata'),
(2, 'Logiciel', 'Fournit sous forme de droits d\'utilisation, appelé également software'),
(3, 'Matériel', 'Tout type de matériel ou équipement.'),
(4, 'Service', 'Il s\'agit d\'une produit constitué uniquement de travail de ressources ne faisant pas parti de Microdata.');

-- --------------------------------------------------------

--
-- Structure de la table `user`
--

CREATE TABLE `user` (
  `id` int(11) NOT NULL,
  `login` varchar(255) COLLATE utf8_unicode_ci DEFAULT NULL,
  `password` varchar(255) COLLATE utf8_unicode_ci DEFAULT NULL,
  `nom` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `prenom` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `civilite` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `genre` tinyint(1) NOT NULL,
  `poste` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `departement` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `telephone` varchar(255) COLLATE utf8_unicode_ci NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

--
-- Contenu de la table `user`
--

INSERT INTO `user` (`id`, `login`, `password`, `nom`, `prenom`, `civilite`, `genre`, `poste`, `departement`, `email`, `telephone`) VALUES
(3, 'salim', '$2y$13$Qi8LYiilCRzF/46yn42R1OA3XCvEGWUtKQqVUI18U9hKgR2upeNAO', 'El Jaï', 'Salim', 'M.', 0, 'Commercial', 'Commercial', 's.eljai@microdata.ma', '+212 6 61264958'),
(4, 'f.ammel', '$2y$13$ecjn06Q90YnDwew84Aq2OOafbVvlLlOuqjQ30Md4xog1k8n2Nu5sq', 'Ammel', 'Fatiha', 'Mme', 1, 'Agent de Recouvrement', 'Recouvrement', 'f.ammel@microdata.ma', '+212 5 29 00 95 05'),
(5, 'i.moatassim', '$2y$13$MbL7hqoXnTMw8leQ/FQN2.nwRaJgVDB/0BHcqiVs5qZNCo1iPcww2', 'Moatassim', 'Imane', 'Mme', 1, 'Commercial', 'Commercial', 'i.moatassim@microdata.ma', '+212 5 29 00 95 00');

-- --------------------------------------------------------

--
-- Structure de la table `users_roles`
--

CREATE TABLE `users_roles` (
  `user_id` int(11) NOT NULL,
  `user_role_id` int(11) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

--
-- Contenu de la table `users_roles`
--

INSERT INTO `users_roles` (`user_id`, `user_role_id`) VALUES
(3, 1),
(3, 2),
(3, 3),
(3, 4),
(4, 2),
(4, 3),
(5, 2),
(5, 4);

-- --------------------------------------------------------

--
-- Structure de la table `user_role`
--

CREATE TABLE `user_role` (
  `id` int(11) NOT NULL,
  `nom` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `description` longtext COLLATE utf8_unicode_ci NOT NULL,
  `role` varchar(255) COLLATE utf8_unicode_ci NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

--
-- Contenu de la table `user_role`
--

INSERT INTO `user_role` (`id`, `nom`, `description`, `role`) VALUES
(1, 'Admin', 'Droit d\'accès aux outils d\'administration', 'ROLE_ADMIN'),
(2, 'Utilisateur', 'Rôle minimal', 'ROLE_USER'),
(3, 'Service Administratif', 'Taches possible pour le service administratif', 'ROLE_SVCADMIN'),
(4, 'Commercial', 'Personne habilité a créer, éditer et effacer des Devis', 'ROLE_COMMERCIAL');

--
-- Index pour les tables exportées
--

--
-- Index pour la table `bc_termes`
--
ALTER TABLE `bc_termes`
  ADD PRIMARY KEY (`bon_de_commande_client_id`,`terme_commercial_id`),
  ADD KEY `IDX_8EBBBB601ABD5691` (`bon_de_commande_client_id`),
  ADD KEY `IDX_8EBBBB60BF1A98FB` (`terme_commercial_id`);

--
-- Index pour la table `bon_de_commande_client`
--
ALTER TABLE `bon_de_commande_client`
  ADD PRIMARY KEY (`id`),
  ADD KEY `IDX_FFE52318CB2A4CE9` (`Commercial_id`),
  ADD KEY `IDX_FFE523189B1AEB82` (`Client_id`),
  ADD KEY `IDX_FFE52318E7A1254A` (`contact_id`),
  ADD KEY `IDX_FFE5231841DEFADA` (`devis_id`);

--
-- Index pour la table `client`
--
ALTER TABLE `client`
  ADD PRIMARY KEY (`id`),
  ADD KEY `IDX_C744045568D3EA09` (`User_id`);

--
-- Index pour la table `commercial`
--
ALTER TABLE `commercial`
  ADD PRIMARY KEY (`id`);

--
-- Index pour la table `contact`
--
ALTER TABLE `contact`
  ADD PRIMARY KEY (`id`),
  ADD KEY `IDX_4C62E63819EB6921` (`client_id`),
  ADD KEY `IDX_4C62E638670C757F` (`fournisseur_id`);

--
-- Index pour la table `devis`
--
ALTER TABLE `devis`
  ADD PRIMARY KEY (`id`),
  ADD KEY `IDX_8B27C52B9B1AEB82` (`Client_id`),
  ADD KEY `IDX_8B27C52B6ED9D7A2` (`Entete_id`),
  ADD KEY `IDX_8B27C52B7995C1A1` (`TravailLivraison_id`),
  ADD KEY `IDX_8B27C52BEFECA299` (`TravailAvantVente_id`),
  ADD KEY `IDX_8B27C52B9276811F` (`TravailCommercial_id`),
  ADD KEY `IDX_8B27C52BD425F07D` (`TravailImport_id`),
  ADD KEY `IDX_8B27C52BBC168B3D` (`piedDePage_id`),
  ADD KEY `IDX_8B27C52BE7A1254A` (`contact_id`),
  ADD KEY `IDX_8B27C52B68D3EA09` (`User_id`);

--
-- Index pour la table `devis_termes`
--
ALTER TABLE `devis_termes`
  ADD PRIMARY KEY (`devis_id`,`terme_commercial_id`),
  ADD KEY `IDX_1C095E8541DEFADA` (`devis_id`),
  ADD KEY `IDX_1C095E85BF1A98FB` (`terme_commercial_id`);

--
-- Index pour la table `entete`
--
ALTER TABLE `entete`
  ADD PRIMARY KEY (`id`);

--
-- Index pour la table `financement`
--
ALTER TABLE `financement`
  ADD PRIMARY KEY (`id`);

--
-- Index pour la table `fournisseur`
--
ALTER TABLE `fournisseur`
  ADD PRIMARY KEY (`id`),
  ADD KEY `IDX_369ECA32D78EFDF2` (`Monnaie_id`);

--
-- Index pour la table `garantie`
--
ALTER TABLE `garantie`
  ADD PRIMARY KEY (`id`);

--
-- Index pour la table `metier`
--
ALTER TABLE `metier`
  ADD PRIMARY KEY (`id`);

--
-- Index pour la table `monnaie`
--
ALTER TABLE `monnaie`
  ADD PRIMARY KEY (`id`);

--
-- Index pour la table `parametres`
--
ALTER TABLE `parametres`
  ADD PRIMARY KEY (`id`);

--
-- Index pour la table `pied_de_page`
--
ALTER TABLE `pied_de_page`
  ADD PRIMARY KEY (`id`);

--
-- Index pour la table `produitbc`
--
ALTER TABLE `produitbc`
  ADD PRIMARY KEY (`id`),
  ADD KEY `IDX_B1D01EABAFE41034` (`Devise_Achat_id`),
  ADD KEY `IDX_B1D01EABED16FA20` (`metier_id`),
  ADD KEY `IDX_B1D01EABF66E9EF6` (`typeproduit_id`),
  ADD KEY `IDX_B1D01EAB670C757F` (`fournisseur_id`),
  ADD KEY `IDX_B1D01EAB2CB6D629` (`Devise_Vente_id`),
  ADD KEY `IDX_B1D01EAB76103A98` (`BonDeCommandeClient_id`),
  ADD KEY `IDX_B1D01EABAC5B49F4` (`statutProduit_id`);

--
-- Index pour la table `produits_garanties`
--
ALTER TABLE `produits_garanties`
  ADD PRIMARY KEY (`produit_devis_id`,`garantie_id`),
  ADD KEY `IDX_46E8713768C1C8C9` (`produit_devis_id`),
  ADD KEY `IDX_46E87137A4B9602F` (`garantie_id`);

--
-- Index pour la table `produits_termes`
--
ALTER TABLE `produits_termes`
  ADD PRIMARY KEY (`produit_devis_id`,`terme_commercial_id`),
  ADD KEY `IDX_B10D82AA68C1C8C9` (`produit_devis_id`),
  ADD KEY `IDX_B10D82AABF1A98FB` (`terme_commercial_id`);

--
-- Index pour la table `produit_devis`
--
ALTER TABLE `produit_devis`
  ADD PRIMARY KEY (`id`),
  ADD KEY `IDX_BBBBA2BFED16FA20` (`metier_id`),
  ADD KEY `IDX_BBBBA2BFF66E9EF6` (`typeproduit_id`),
  ADD KEY `IDX_BBBBA2BFB8A8988C` (`Devis_id`),
  ADD KEY `IDX_BBBBA2BF670C757F` (`fournisseur_id`),
  ADD KEY `IDX_BBBBA2BFAFE41034` (`Devise_Achat_id`),
  ADD KEY `IDX_BBBBA2BF2CB6D629` (`Devise_Vente_id`),
  ADD KEY `IDX_BBBBA2BFE7A1254A` (`contact_id`);

--
-- Index pour la table `statut_produit`
--
ALTER TABLE `statut_produit`
  ADD PRIMARY KEY (`id`);

--
-- Index pour la table `terme_commercial`
--
ALTER TABLE `terme_commercial`
  ADD PRIMARY KEY (`id`);

--
-- Index pour la table `travailimport`
--
ALTER TABLE `travailimport`
  ADD PRIMARY KEY (`id`);

--
-- Index pour la table `travail_avant_vente`
--
ALTER TABLE `travail_avant_vente`
  ADD PRIMARY KEY (`id`);

--
-- Index pour la table `travail_commercial`
--
ALTER TABLE `travail_commercial`
  ADD PRIMARY KEY (`id`);

--
-- Index pour la table `travail_livraison`
--
ALTER TABLE `travail_livraison`
  ADD PRIMARY KEY (`id`);

--
-- Index pour la table `type_produit`
--
ALTER TABLE `type_produit`
  ADD PRIMARY KEY (`id`);

--
-- Index pour la table `user`
--
ALTER TABLE `user`
  ADD PRIMARY KEY (`id`),
  ADD UNIQUE KEY `UNIQ_8D93D649AA08CB10` (`login`);

--
-- Index pour la table `users_roles`
--
ALTER TABLE `users_roles`
  ADD PRIMARY KEY (`user_id`,`user_role_id`),
  ADD KEY `IDX_51498A8EA76ED395` (`user_id`),
  ADD KEY `IDX_51498A8E8E0E3CA6` (`user_role_id`);

--
-- Index pour la table `user_role`
--
ALTER TABLE `user_role`
  ADD PRIMARY KEY (`id`);

--
-- AUTO_INCREMENT pour les tables exportées
--

--
-- AUTO_INCREMENT pour la table `bon_de_commande_client`
--
ALTER TABLE `bon_de_commande_client`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT;
--
-- AUTO_INCREMENT pour la table `client`
--
ALTER TABLE `client`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=13;
--
-- AUTO_INCREMENT pour la table `commercial`
--
ALTER TABLE `commercial`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=4;
--
-- AUTO_INCREMENT pour la table `contact`
--
ALTER TABLE `contact`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=22;
--
-- AUTO_INCREMENT pour la table `devis`
--
ALTER TABLE `devis`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=56;
--
-- AUTO_INCREMENT pour la table `entete`
--
ALTER TABLE `entete`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=3;
--
-- AUTO_INCREMENT pour la table `financement`
--
ALTER TABLE `financement`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT;
--
-- AUTO_INCREMENT pour la table `fournisseur`
--
ALTER TABLE `fournisseur`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=10;
--
-- AUTO_INCREMENT pour la table `garantie`
--
ALTER TABLE `garantie`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=4;
--
-- AUTO_INCREMENT pour la table `metier`
--
ALTER TABLE `metier`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=5;
--
-- AUTO_INCREMENT pour la table `monnaie`
--
ALTER TABLE `monnaie`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=9;
--
-- AUTO_INCREMENT pour la table `parametres`
--
ALTER TABLE `parametres`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=4;
--
-- AUTO_INCREMENT pour la table `pied_de_page`
--
ALTER TABLE `pied_de_page`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=2;
--
-- AUTO_INCREMENT pour la table `produitbc`
--
ALTER TABLE `produitbc`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT;
--
-- AUTO_INCREMENT pour la table `produit_devis`
--
ALTER TABLE `produit_devis`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=399;
--
-- AUTO_INCREMENT pour la table `statut_produit`
--
ALTER TABLE `statut_produit`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=8;
--
-- AUTO_INCREMENT pour la table `terme_commercial`
--
ALTER TABLE `terme_commercial`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=8;
--
-- AUTO_INCREMENT pour la table `travailimport`
--
ALTER TABLE `travailimport`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=5;
--
-- AUTO_INCREMENT pour la table `travail_avant_vente`
--
ALTER TABLE `travail_avant_vente`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=6;
--
-- AUTO_INCREMENT pour la table `travail_commercial`
--
ALTER TABLE `travail_commercial`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=7;
--
-- AUTO_INCREMENT pour la table `travail_livraison`
--
ALTER TABLE `travail_livraison`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=7;
--
-- AUTO_INCREMENT pour la table `type_produit`
--
ALTER TABLE `type_produit`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=5;
--
-- AUTO_INCREMENT pour la table `user`
--
ALTER TABLE `user`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=6;
--
-- AUTO_INCREMENT pour la table `user_role`
--
ALTER TABLE `user_role`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=5;
--
-- Contraintes pour les tables exportées
--

--
-- Contraintes pour la table `bc_termes`
--
ALTER TABLE `bc_termes`
  ADD CONSTRAINT `FK_8EBBBB601ABD5691` FOREIGN KEY (`bon_de_commande_client_id`) REFERENCES `bon_de_commande_client` (`id`) ON DELETE CASCADE,
  ADD CONSTRAINT `FK_8EBBBB60BF1A98FB` FOREIGN KEY (`terme_commercial_id`) REFERENCES `terme_commercial` (`id`) ON DELETE CASCADE;

--
-- Contraintes pour la table `bon_de_commande_client`
--
ALTER TABLE `bon_de_commande_client`
  ADD CONSTRAINT `FK_FFE5231841DEFADA` FOREIGN KEY (`devis_id`) REFERENCES `devis` (`id`),
  ADD CONSTRAINT `FK_FFE523189B1AEB82` FOREIGN KEY (`Client_id`) REFERENCES `client` (`id`),
  ADD CONSTRAINT `FK_FFE52318CB2A4CE9` FOREIGN KEY (`Commercial_id`) REFERENCES `commercial` (`id`),
  ADD CONSTRAINT `FK_FFE52318E7A1254A` FOREIGN KEY (`contact_id`) REFERENCES `contact` (`id`);

--
-- Contraintes pour la table `client`
--
ALTER TABLE `client`
  ADD CONSTRAINT `FK_C744045568D3EA09` FOREIGN KEY (`User_id`) REFERENCES `user` (`id`);

--
-- Contraintes pour la table `contact`
--
ALTER TABLE `contact`
  ADD CONSTRAINT `FK_4C62E63819EB6921` FOREIGN KEY (`client_id`) REFERENCES `client` (`id`),
  ADD CONSTRAINT `FK_4C62E638670C757F` FOREIGN KEY (`fournisseur_id`) REFERENCES `fournisseur` (`id`);

--
-- Contraintes pour la table `devis`
--
ALTER TABLE `devis`
  ADD CONSTRAINT `FK_8B27C52B68D3EA09` FOREIGN KEY (`User_id`) REFERENCES `user` (`id`),
  ADD CONSTRAINT `FK_8B27C52B6ED9D7A2` FOREIGN KEY (`Entete_id`) REFERENCES `entete` (`id`),
  ADD CONSTRAINT `FK_8B27C52B7995C1A1` FOREIGN KEY (`TravailLivraison_id`) REFERENCES `travail_livraison` (`id`),
  ADD CONSTRAINT `FK_8B27C52B9276811F` FOREIGN KEY (`TravailCommercial_id`) REFERENCES `travail_commercial` (`id`),
  ADD CONSTRAINT `FK_8B27C52B9B1AEB82` FOREIGN KEY (`Client_id`) REFERENCES `client` (`id`),
  ADD CONSTRAINT `FK_8B27C52BBC168B3D` FOREIGN KEY (`piedDePage_id`) REFERENCES `pied_de_page` (`id`),
  ADD CONSTRAINT `FK_8B27C52BD425F07D` FOREIGN KEY (`TravailImport_id`) REFERENCES `travailimport` (`id`),
  ADD CONSTRAINT `FK_8B27C52BE7A1254A` FOREIGN KEY (`contact_id`) REFERENCES `contact` (`id`),
  ADD CONSTRAINT `FK_8B27C52BEFECA299` FOREIGN KEY (`TravailAvantVente_id`) REFERENCES `travail_avant_vente` (`id`);

--
-- Contraintes pour la table `devis_termes`
--
ALTER TABLE `devis_termes`
  ADD CONSTRAINT `FK_1C095E8541DEFADA` FOREIGN KEY (`devis_id`) REFERENCES `devis` (`id`) ON DELETE CASCADE,
  ADD CONSTRAINT `FK_1C095E85BF1A98FB` FOREIGN KEY (`terme_commercial_id`) REFERENCES `terme_commercial` (`id`) ON DELETE CASCADE;

--
-- Contraintes pour la table `fournisseur`
--
ALTER TABLE `fournisseur`
  ADD CONSTRAINT `FK_369ECA32D78EFDF2` FOREIGN KEY (`Monnaie_id`) REFERENCES `monnaie` (`id`);

--
-- Contraintes pour la table `produitbc`
--
ALTER TABLE `produitbc`
  ADD CONSTRAINT `FK_9DCB98622CB6D629` FOREIGN KEY (`Devise_Vente_id`) REFERENCES `monnaie` (`id`),
  ADD CONSTRAINT `FK_9DCB9862670C757F` FOREIGN KEY (`fournisseur_id`) REFERENCES `fournisseur` (`id`),
  ADD CONSTRAINT `FK_9DCB986276103A98` FOREIGN KEY (`BonDeCommandeClient_id`) REFERENCES `bon_de_commande_client` (`id`) ON DELETE CASCADE,
  ADD CONSTRAINT `FK_9DCB9862AC5B49F4` FOREIGN KEY (`statutProduit_id`) REFERENCES `statut_produit` (`id`),
  ADD CONSTRAINT `FK_9DCB9862AFE41034` FOREIGN KEY (`Devise_Achat_id`) REFERENCES `monnaie` (`id`),
  ADD CONSTRAINT `FK_9DCB9862ED16FA20` FOREIGN KEY (`metier_id`) REFERENCES `metier` (`id`),
  ADD CONSTRAINT `FK_9DCB9862F66E9EF6` FOREIGN KEY (`typeproduit_id`) REFERENCES `type_produit` (`id`);

--
-- Contraintes pour la table `produits_garanties`
--
ALTER TABLE `produits_garanties`
  ADD CONSTRAINT `FK_46E8713768C1C8C9` FOREIGN KEY (`produit_devis_id`) REFERENCES `produit_devis` (`id`) ON DELETE CASCADE,
  ADD CONSTRAINT `FK_46E87137A4B9602F` FOREIGN KEY (`garantie_id`) REFERENCES `garantie` (`id`) ON DELETE CASCADE;

--
-- Contraintes pour la table `produits_termes`
--
ALTER TABLE `produits_termes`
  ADD CONSTRAINT `FK_B10D82AA68C1C8C9` FOREIGN KEY (`produit_devis_id`) REFERENCES `produit_devis` (`id`) ON DELETE CASCADE,
  ADD CONSTRAINT `FK_B10D82AABF1A98FB` FOREIGN KEY (`terme_commercial_id`) REFERENCES `terme_commercial` (`id`) ON DELETE CASCADE;

--
-- Contraintes pour la table `produit_devis`
--
ALTER TABLE `produit_devis`
  ADD CONSTRAINT `FK_BBBBA2BF2CB6D629` FOREIGN KEY (`Devise_Vente_id`) REFERENCES `monnaie` (`id`),
  ADD CONSTRAINT `FK_BBBBA2BF670C757F` FOREIGN KEY (`fournisseur_id`) REFERENCES `fournisseur` (`id`),
  ADD CONSTRAINT `FK_BBBBA2BFAFE41034` FOREIGN KEY (`Devise_Achat_id`) REFERENCES `monnaie` (`id`),
  ADD CONSTRAINT `FK_BBBBA2BFB8A8988C` FOREIGN KEY (`Devis_id`) REFERENCES `devis` (`id`) ON DELETE CASCADE,
  ADD CONSTRAINT `FK_BBBBA2BFE7A1254A` FOREIGN KEY (`contact_id`) REFERENCES `contact` (`id`),
  ADD CONSTRAINT `FK_BBBBA2BFED16FA20` FOREIGN KEY (`metier_id`) REFERENCES `metier` (`id`),
  ADD CONSTRAINT `FK_BBBBA2BFF66E9EF6` FOREIGN KEY (`typeproduit_id`) REFERENCES `type_produit` (`id`);

--
-- Contraintes pour la table `users_roles`
--
ALTER TABLE `users_roles`
  ADD CONSTRAINT `FK_51498A8E8E0E3CA6` FOREIGN KEY (`user_role_id`) REFERENCES `user_role` (`id`) ON DELETE CASCADE,
  ADD CONSTRAINT `FK_51498A8EA76ED395` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE;

/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
